<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>COTA-portal Олимпиадное програмирование</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,500i,700,700i&display=swap" rel="stylesheet">
</head>
<body>
  
  <form class="transition left_menu">
    <div class="buttom_m"> 
      <a href="">
        <div class="transition menu_buttom">
          <img src="https://lh3.googleusercontent.com/proxy/Y0EqN-mn08BhWb77XFbzm35vZuBbP_KFb9Os7ByX-BQyUiyLF5aS1Cad_vCBD19CevyBEs0MdSQliTdMOgIHIRjSiDV0yjMmRe34rrW_Nd-qn2m9Mh4YTck">
          <span>HOME</span>
        </div>
      </a>
    </div>
    <div class="buttom_m">
      <a href="">
        <div class="transition menu_buttom">
          <img src="https://store-images.s-microsoft.com/image/apps.11856.13029e4c-7014-4887-a42a-90c3a3001fc3.256fbf71-1049-49d9-a6e9-4b7ae114753c.892ca41d-04d3-4dd1-a66f-23d93805511f.png">
          <span>Task</span>
        </div>
      </a>
    </div>
    <div class="buttom_m">
      <a href="">
        <div class="transition menu_buttom">
          <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/api-1623693-1374925.png">
          <span>API</span>
        </div>
      </a>
    </div>
  </form>
  
  <form class="profile">
    <div class="profile_content">
      <div class="user_nickname">
        <img src="https://lh3.googleusercontent.com/proxy/cpfhUueZx9Tl9jma_07ICYLFEfsnzTdktsXQJlzS68wiQysdzf2KYn_uj6cv9QRAXIytoJwckamhBR3wEVCIBFxAyHA2zTZARALAcH2qzYv0hF9vhQe3w7XDY6dGW2FQecT4PlRYTkLt7o0PLEVv3xZQk4c9OQ">
        <h2>User</h2>
      </div>
      <div class="user_rank">
        <h3>Rank: 3</h3>
      </div>
    </div>
  </form>

  <form class="block_content">
    <div class="content_buttoms">
      <p style="text-align: right;"><button class="button">Create</button></p>
    </div>
    <div class="content">
      <div class="item_content">
        <div class="item_information">
          <h4>Комплементарная ДНК</h4>
          Дезоксирибонуклеиновая кислота (ДНК) - это химическое вещество, находящееся в ядре клетки и несущее в себе "инструкции" по развитию и функционированию живых организмов.
        </div>
        <div class="item_buttom">
          <button class="button_solve">Solve</button>
        </div>
      </div>
    </div>
  </form>
</body>
</html>
