body{
    height: 100%;
    margin: 0;
    font-family: helveticaneuecoub-normal, Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1{
    font-size: 32px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



input{
    height: 38px;
    outline: none;
    border: none;
}

.typ1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.typ2{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
}

.limiter {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-cont{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: chartreuse;
}

.wrap-login{
    width: 475px;
    background-color: crimson;
    padding: 33px 79px;
    position: relative;
    border-radius: 12px;
}

.login-form{
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
}

.login-title{
    display: block;
    width: 100%;
    text-align: center;
}

.wrap-input{
    position: relative;
    width: 100%;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    flex-wrap: wrap;
    padding: 0 25px;
}



.input1{
    width: 100%;
    position: relative;
    font-family: helveticaneuecoub-normal, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    padding: 10px;
    margin: 0px;
    font-size: 0.875rem;
    line-height: 1.02857;
    border: 0;
    box-shadow: inset 0 -1px 0 #EAEAEA;
    border-radius: 0px;
    background-color: #FFFFFF;
    color: #000000;
}

.login-submit{
    padding: 0px 30px;
    float: right;
    width: 160px;
    position: relative;

    background-color: #0332FF;
    color: #FFFFFF;

    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    -webkit-appearance: none;
    height: 40px;
    font-size: 1rem;
    line-height: 41px;
}