<body>
    <div class="limiter">
        <div class="login-cont">
            <div class="wrap-login">
                <div class="login-form">
                    <h1 class="login-title">
                        Авторизация
                    </h1>
                    <form>
                        <div class="wrap-input">
                            <input class="input1 typ1" type="login" name="login" placeholder="Логин">
                            <input class="input1 typ2" type="password" name="password" placeholder="Пароль">
                        </div>
                        <button type="submit" class="myButton"> Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>