<body>
    <div class="limiter">
        <div class="container-login">
                <div class="wrap-login p-l-55 p-r-55 p-t-65 p-b-50">
                    <form class="login-form ">
                        <span class="login-form-title p-b-33">
                            Войти
                        </span>
                        <div class="toggler__container -less" >
                            <button type="button" class="sb -trans -sq -sb-gamma -social facebook sss" data-auth-button="facebook"> 
                                Войти через Facebook</button>   
                            <button type="button" class="sb -trans -sq -sb-gamma -social vkontakte sss" data-auth-button="vkontakte"> Войти через VKontakte</button>    
                            <button type="button" class="sb -trans -sq -sb-gamma -social google sss" data-auth-button="google"> 
                                    <img src="C:\Users\Zmiya\Documents\AngProject\src\assets" height = 23px; width = 23px;> Войти через Google</button> 
                        </div>
                        <div class="wrap-input " data-validate="Please enter username">
                            <input class="input" type="text" name="username" placeholder="Логин">
                            <span class="focus-input"></span>
                        </div>
                        <div class="wrap-input " data-validate="Please enter password">
                            <input class="input" type="password" name="pass" placeholder="Пароль">
                            <span class="focus-input"></span>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</body>