<body>
    <div class="limiter">
        <div class="login-cont">
            <div class="wrap-login">
                <div class="login-form">
                    <h1 class="login-title">
                        Войти
                    </h1>
                    <form>
                        <div class="wrap-input">
                            <input class="input1 typ1" type="email" name="email" placeholder="Email">
                            <input class="input1 typ2" type="password" name="password" placeholder="Password">
                            
                        </div>
                        <button type="submit" class="login-submit"> Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>