/* You can add global styles to this file, and also import other style files */
body {
    background: #757575;
}

.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }

.left_menu{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 100%;
    background: #555555;
}
.left_menu:hover{
    width: 150px;
}

.buttom_m:hover{
    width: 150px;
}

.buttom_m{
    position: relative;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 70px;
}
.menu_buttom{
    position: relative;
    left: 10px;
    top: 10px;
    bottom: 10px;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    background: #c9c9c9;
}
.menu_buttom:hover{
    width: 85%;
}
img{
    display: inline-block;
}
span{
    font-size: 150%;
    position: absolute;
    left:40%;
    top:25%;
    display: none;
}
img:hover + span{
    display: inline-block;
}
img{
    position: relative;
    left:2px;
    top:2px;
    height: 46px;
    width: 46px;
    border-radius: 10px;
}


.profile{

    position: absolute;
    left: 85%;
    top: 10px;
    width: 13%;
    height: 62px;
    border-radius: 10px;
    background: #555555;

}
.profile_content{
    position: relative;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 80%;
    
}
h2{
    color: #d4d4d4;
    position: absolute;
    top:-5px;
    left: 25%;
}
.user_rank{
    position: absolute;
    left: 65%;
    top: 10%;
    width: 35%;
    height: 80%;
}
h3{
    color: chartreuse;
    font-size: 140%;
    position: absolute;
    left:2%;
    top:-12px;
}